/* styles.css */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #ee1010;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos do conteúdo principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

select {
    padding: 8px 12px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    outline: none; /* Remove o contorno ao focar */
    appearance: none; /* Remove a aparência padrão */
    background-color: #fff; /* Cor de fundo */
    cursor: pointer; /* Cursor do mouse */
}

/* Estilo para as opções do select */
select option {
    padding: 8px 12px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse */
}

/* Estilo quando o select está focado */
select:focus {
    border-color: #000000; /* Cor da borda ao focar */
}

.botao {
    display: inline-block;
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px;
    text-align: center;
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Cursor do mouse */
    color: #fff; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
}


  
  